html, body {
  background: #FFFFFF;
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  clear: both;
  margin-bottom: 25px;
}

ul {
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

a {
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 50px auto;
}

.intro {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro img {
  width: 150px;
}

.about {
  width: 100%;
  text-align: center;
}

.picture img {
  width: 125px;
  margin: 0 auto;
}

.section {
  margin-bottom: 25px;
  display: flex;
}

.section .logo {
  width: 75px;
  height: 75px;
}

.nologo {
  width: 75px;
}

.section .title {
  font-weight: 700;
  line-height: 27px;
  padding: 5px 20px;
}

.section .date {
  color: #87888D;
  font-size: 80%;
  padding: 10px 20px;
}

.profiles {
  text-align: center;
}

.social a {
  margin: auto 5px;
}

.skills {
  margin: 5px 10px 5px 15px;
  list-style-type: none;
  white-space: nowrap;
}

.skills li {
  display: inline-block;
  color: #2c3e50;
  background: #ecf0f1;
  font-weight: 700;
  text-decoration: none;
  margin-left: 2px;
  font-size: 12px;
  padding: 0 1px;
}

.description {
  font-size: 12px;
  padding-left: 20px;
}

.screenshots {
  height: 75px;
  margin-left: 20px;
}

.screenshots img {
  max-width: 22%;
  margin-right: 10px;    
}

.thumb {
  float: left;
}

.fa-github {
  color: #000000;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-strava {
  color: #fc4c02;
}

.fa-envelope {
  color: #000000;
}
